<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row gx-3 h-100">
                    <div class="col-12 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="../../assets/img/carriertorec.jpeg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2">About Us</p>
                <h1 class="display-5 mb-4">We Are Connecting Senders and Carriers</h1>
                <p class="mb-4">Whether you're a sender looking for a convenient way to send a parcel or a carrier looking to earn money on the go, we're here to help.
                    Our platform is easy to use and offers flexible payment and pickup options to suit your needs.
                </p>
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0 bg-primary p-4">
                        <h1 class="display-2">25</h1>
                        <h5 class="text-white">Years of</h5>
                        <h5 class="text-white">Experience</h5>
                    </div>
                    <div class="ms-4">
                        <p><i class="fa fa-check text-primary me-2"></i>Flexible Options</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Cost-Efective</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Safe and Secure</p>
                        <p><i class="fa fa-check text-primary me-2"></i>24X7 Support</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Real-time Tracking</p>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-1">Email us</p>
                                <h5 class="mb-2">info@pickmyparcel.in</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-1">Call us</p>
                                <h5 class="mb-2">+919960743366</h5>
                                <h5 class="mb-2">+919404771200</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


