<app-header></app-header>
<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">
    <!--<i class="fas fa-circle-notch fa-spin"></i>-->
    Please wait
  </p>
  <div class="animated-parcels-loader">
    <div class="parcel parcel1"></div>
    <div class="parcel parcel2"></div>
    <div class="parcel parcel3"></div>
  </div>
<!--  <div class="three-dots">
    <div class="dot dot1"></div>
    <div class="dot dot2"></div>
    <div class="dot dot3"></div>
  </div>-->
</ngx-spinner>
<app-footer></app-footer>


