<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
</head>
<body>
<h1>Privacy Policy</h1>
<p><strong>Effective Date:</strong> 24/09/2023</p>

<p>Welcome to Pick My Parcel. This Privacy Policy explains how we collect, use, share, and protect your personal information. By using our website and services, you consent to the practices described in this policy.</p>

<h2> Information We Collect</h2>
<p>We collect information that you provide when using our website and services. This may include:</p>
<ul>
  <li>Personal information such as your name, contact details, Address, State, Province, ZIP/Postal code, and City</li>
  <li>Parcel details including pickup and delivery locations and Cookies and Usage Data.</li>
  <li>Payment information when you make transactions through our platform.</li>
</ul>

<h2> How We Use Your Information</h2>
<p>We use your information for the following purposes:</p>
<ul>
  <li>To facilitate parcel deliveries and pickups.</li>
  <li>To connect senders, carriers, and receivers for parcel transportation.</li>
  <li>To process payments and fees.</li>
  <li>To provide customer support.</li>
  <li>To send notifications and updates about your parcels and deals.</li>
</ul>

<h2> Sharing Your Information</h2>
<p>We may share your information with:</p>
<ul>
  <li>Carriers: To connect you with available carriers for parcel transportation.</li>
  <li>Senders and Receivers: To facilitate communication between all parties involved.</li>
  <li>Service Providers: To assist us in providing our services.</li>
  <li>Legal Authorities: In response to a legal request or when required by law.</li>
</ul>

<h2> Security</h2>
<p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means
  to protect your Personal Data, we cannot guarantee its absolute security.</p>


<h2> Your Choices</h2>
<p>You can:</p>
<ul>
  <li>Review and update your account information.</li>
  <li>Opt-out of marketing communications.</li>
  <li>Delete your account, subject to any legal obligations.</li>
</ul>

<h2> Analytics</h2>
<p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>

<h2> Firebase</h2>
<p>Firebase is analytics service provided by Google Inc.

  You may opt-out of certain Firebase features through your mobile device settings,
  such as your device advertising settings or by following the instructions provided by Google in their Privacy Policy: https://policies.google.com/privacy?hl=en

  We also encourage you to review the Google's policy for safeguarding your data: https://support.google.com/analytics/answer/6004245. For more information on what type of information Firebase collects, please visit please visit the
  Google Privacy & Terms web page: https://policies.google.com/privacy?hl=en</p>

<h2>Third-Party Links</h2>
<p>Our website may contain links to third-party websites. We are not responsible for their privacy practices, so please review their policies.</p>


<h2>Transfer Of Data</h2>
<p>Our website may contain links to third-party websites. We are not responsible for their privacy practices, so please review their policies.

  Transfer Of Data
  Your information, including Personal Data, may be transferred to and maintained on computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.

  If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.

  Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.

  pickmyparcel will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls
  in place including the security of your data and other personal information.</p>

<h2>Disclosure Of Data</h2>
<p>Legal Requirements
  pickmyparcel may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
<ul>

  <li>To comply with a legal obligation</li>
  <li>To protect and defend the rights or property of pickmyparcel</li>
  <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
  <li>To protect the personal safety of users of the Service or the public</li>
  <li>To protect against legal liability</li>

</ul>

<h2>Children's Privacy</h2>
<p>Our services are not intended for children under the age of 18. We do not knowingly collect or store personal information from children.</p>

<h2>Changes to this Policy</h2>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.

  We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.

  You are advised to review this Privacy Policy periodically for any changes.
  Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2>Contact Us</h2>
<p>If you have any questions, concerns, or requests related to your privacy or this policy,
  please contact us at [Contact Email/Address] : 9960743366 / pickmyparcel@gmail.com</p>
