    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fw-medium text-uppercase text-primary mb-2">Our Services</p>
                <h1 class="display-5 mb-4">We Provide Best Industrial Services</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="../../assets/img/service-1.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="../../assets/img/service-1.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Easy Parcel Submission</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Our easy-to-use platform allows senders to
                                    submit parcel details quickly and easily, without any hassle.</p>
                            </div>
                        </div>
                        <a class="btn btn-light">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="../../assets/img/service-2.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="../../assets/img/service-2.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">No Minimum Order Requirement</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">We do not have any minimum order requirements, so senders can send as many or as few parcels as they need,
                                    without any added pressure or costs.</p>
                            </div>
                        </div>
                        <a class="btn btn-light">Read More</a>
                    </div>
                </div>
               <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="../../assets/img/service-3.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="../../assets/img/service-3.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Transparent Pricing</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Our pricing is transparent and upfront,
                                    so senders can avoid any hidden fees or surprises.</p>
                            </div>
                        </div>
                        <a class="btn btn-light">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="../../assets/img/service-1.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="../../assets/img/service-1.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Flexible Options</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">We offer flexible options for parcel pickup and delivery, allowing senders to choose the best option that suits their needs.</p>
                            </div>
                        </div>
                        <a class="btn btn-light">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="../../assets/img/service-2.jpg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="../../assets/img/service-2.jpg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Real-Time Tracking</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Our customers can track their parcels in real-time, providing peace of mind and ensuring timely delivery.</p>
                            </div>
                        </div>
                        <a class="btn btn-light">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="../../assets/img/safeandsecure.jpeg" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="../../assets/img/safeandsecure.jpeg" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Safe and Secure</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Our team takes great care in handling each parcel and we offer insurance options to ensure that our customers are protected.</p>
                            </div>
                        </div>
                        <a class="btn btn-light" >Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
