.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-center{
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 768px) {
  form {
    width: 33%;
  }
  }

  @media (max-width: 768px) {
    form {
      width: 100%;
    }
    }

  form{
    animation: fade-in-up 1s ease backwards;
  }

  @keyframes fade-in-up {
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
  }
